<!DOCTYPE html>
<html>
<head>
<title>Input Password JavaScript</title>
<meta charset="UTF-8">
</head>
<body>
	<input type="password" id="pass">
	<img id="ojo" style="padding-left: 5px; vertical-align: middle;"
		src="/images/visible.png" width="20" />

	<script type="text/javascript">
		var pass = document.getElementById('pass');
		var img = document.getElementById('ojo');

		img.onclick = function() {
			//TODO: quitar el alert (es para que veáis que sucede al pulsar sobre la imagen)
			//e implementar el código que intercambie la imagen del ojo de visible a no visible cada vez que se pulse sobre él
			//y a su vez intercambie el tipo del input para que se pueda ver la contraseña que estamos introducciendo
			//Si está invisible
			
			//Si el tipo de input es de tipo password
			if (document.getElementById('pass').type == 'password') {
				//Poner a tipo text
				document.getElementById('pass').type = 'text';
				//Cambiar imagen a ojo tachado
				document.getElementById('ojo').src = '/images/invisible.png';
			}
			//Si el tipo de input es de tipo text
			else{
				//Poner a tipo password
				document.getElementById('pass').type = 'password';
				//Cambiar imagen a ojo sin tachar
				document.getElementById('ojo').src = '/images/visible.png'
			}
		};
	</script>
</body>
</html>